GIONGAI_API_BASE_URL=https://api.giongai.cloud/v1
GIONGAI_AUTH_MODE=xi-api-key
GIONGAI_API_KEY=Nhap_API_Cua_Ban
GIONGAI_VOICE_ID=Nhap_Gia_Tri_Cua_Ban
GIONGAI_PROVIDER=minimax
GIONGAI_MODEL_ID=speech-2.8-turbo
GIONGAI_LANGUAGE_CODE=Vietnamese
GIONGAI_SPEED=1.0
GIONGAI_PITCH=0
GIONGAI_VOLUME=1.0
GIONGAI_CHUNK_CHARS=4200
GIONGAI_TIMEOUT_SECONDS=600
